body, html{
    padding: 0px;
    margin: 0px;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
}
.container .stars input {
    display: none;
}
.stars label{
    font-size: 30px;
    color: gray;
    padding: 10px;
}
.stars input:not(:checked)~ label:hover,
.stars input:not(:checked)~ label:hover~ label{
    color: yellow;
}
.stars input:checked~label{
    color: yellow;
}